html{
width:100vw;
margin:0;
padding:0;
}
body{
  height:100%;
  width:100%;
}
#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}



