:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6b7280;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img{
  width:200px;
  height:200px;
  }
  hr{
    width:100%;
    height:2px;
    background-color:rgba(255, 255, 255, 0.87);
    border:none;
  }
.abContainer{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:20px;
  /* margin:10px; */
  
}
 #about{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  background: #a3a3a3;
  padding: 10px;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
 }

  .linkContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    grid-row: 5/6;

  }

  
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 10px 0;
    background: rgba(255, 255, 255, .8);
    white-space: nowrap;
    position: relative;
     max-margin: 0 140px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.87);
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width:250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  @media (max-width: 768px) {
    .logos:before,
    .logos:after {
      width: 100px;
    }
  }
  @media (max-width: 480px) {
    .logos:before,
    .logos:after {
      width: 50px;
    }
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  .logos-slide .logo {
    height: 50px;
    max-width:50px;
    margin: 0 40px;
  }
  
  
  
  
.icon{
  width:40px;
  height:40px;
}
.icon:hover{
  transform:scale(1.1);

  transition:transform 0.5s;
}
.projectContainer{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.projectCard{
  display:grid;
  width:300px;
  height:500px;
  grid-template-rows: 50px 1fr 1fr .5fr;
  justify-items:center;
  align-items:center;
  padding:10px;
  margin:10px;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color:#a3a3a3;
  transition:transform 0.5s;
}
.projectCard:hover{
  transform:scale(1.05);
  transition:transform 0.5s;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: rgba(255, 255, 255, 0.87);
  transition: color 0.25s;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


